
<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <!--logo start-->
      <a href="index" class="logo"><b>ALENJAZE <span>CAISSE</span></b></a>
      <!--logo end-->
      <div class="top-menu">

        <ul class="nav pull-right top-menu">
          <li><a class="logout" (click)="logOut()">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse "  *ngFor="let signups of signups">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profil"><img src="assets/images/{{signups.img}}"  alt="Image" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{user.firstName}} {{user.lastName}}</h5>
          <li class="mt" style="margin-top: 20%;">
            <a class="active" href="encaissement">
              <i class="fa fa-dashboard"></i>
              <span>Encaissement</span>
              </a>
          </li>
          <li class="mt" style="margin-top: 5%;">
            <a class="active" href="decaissement">
              <i class="fa fa-dashboard"></i>
              <span>Decaissement</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
<h1 style="color: blueviolet; font-size: 100px;text-align: center;margin-top: 10%;">WELCOME TO </h1><br>
<h2  style="color: blue; font-size: 100px;text-align: center;">ALENJAZE CAISSE</h2>

        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer" style="margin-top:39% ;">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Oussama</strong>. All Rights Reserved
        </p>
        <a class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  
</body>


