.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.900391;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:28.000000px;}
.fs4{font-size:32.000000px;}
.fs3{font-size:36.000000px;}
.fs0{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:64.000000px;}
.y5{bottom:13.498999px;}
.ya{bottom:14.159999px;}
.y10{bottom:24.449997px;}
.yf{bottom:35.399998px;}
.y8{bottom:36.561001px;}
.yd{bottom:46.971001px;}
.yc{bottom:47.359001px;}
.y19{bottom:50.004000px;}
.y0{bottom:61.000000px;}
.y1a{bottom:113.524044px;}
.y18{bottom:157.826035px;}
.y16{bottom:226.826035px;}
.y17{bottom:226.826038px;}
.y15{bottom:250.549038px;}
.y14{bottom:272.950037px;}
.y13{bottom:336.661017px;}
.y12{bottom:365.952030px;}
.y11{bottom:395.554011px;}
.ye{bottom:525.657032px;}
.yb{bottom:569.959023px;}
.y7{bottom:638.959023px;}
.y9{bottom:638.959026px;}
.y6{bottom:662.682026px;}
.y4{bottom:685.083025px;}
.y3{bottom:722.926024px;}
.y2{bottom:752.217026px;}
.y1{bottom:781.819026px;}
.hc{height:19.455078px;}
.h5{height:21.900999px;}
.hb{height:22.234375px;}
.h8{height:23.223000px;}
.h6{height:24.644531px;}
.h9{height:25.013672px;}
.h2{height:32.859375px;}
.h4{height:38.335938px;}
.hd{height:43.801998px;}
.h3{height:43.812500px;}
.h7{height:68.025002px;}
.ha{height:68.500000px;}
.h1{height:775.000000px;}
.h0{height:841.900024px;}
.wf{width:59.750000px;}
.w12{width:63.049999px;}
.w4{width:66.449997px;}
.w7{width:68.300003px;}
.w6{width:69.449997px;}
.w11{width:69.500000px;}
.w13{width:70.199997px;}
.w5{width:77.300003px;}
.w10{width:78.000000px;}
.w8{width:101.449997px;}
.w14{width:104.500000px;}
.w9{width:114.150002px;}
.w15{width:118.550003px;}
.w17{width:123.300003px;}
.we{width:133.050003px;}
.wb{width:133.399994px;}
.w3{width:136.399994px;}
.wa{width:147.250000px;}
.w16{width:148.000000px;}
.wc{width:170.250000px;}
.w18{width:175.199997px;}
.wd{width:193.300003px;}
.w2{width:203.350006px;}
.w1{width:589.000000px;}
.w0{width:595.299988px;}
.x0{left:4.500000px;}
.x24{left:7.928000px;}
.x14{left:8.978000px;}
.xa{left:10.183000px;}
.x13{left:11.336000px;}
.x10{left:13.232000px;}
.x9{left:14.950001px;}
.xe{left:17.400000px;}
.x8{left:19.977000px;}
.x1f{left:22.026000px;}
.xc{left:23.726000px;}
.x15{left:30.191000px;}
.x12{left:33.324999px;}
.x23{left:35.525000px;}
.x16{left:37.492999px;}
.x26{left:39.784998px;}
.x25{left:43.152998px;}
.x18{left:48.203001px;}
.x19{left:50.017001px;}
.x1d{left:51.772002px;}
.x6{left:53.447001px;}
.x17{left:58.879000px;}
.x1{left:74.159000px;}
.x1c{left:79.402998px;}
.x5{left:84.428000px;}
.x4{left:92.750004px;}
.xb{left:162.700001px;}
.x1e{left:227.000004px;}
.x7{left:229.649998px;}
.x2{left:232.115005px;}
.x1b{left:239.237000px;}
.x3{left:242.737000px;}
.x20{left:287.249989px;}
.xd{left:296.599995px;}
.x21{left:357.950001px;}
.xf{left:365.400013px;}
.x1a{left:425.399994px;}
.x22{left:462.950001px;}
.x11{left:467.349995px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs5{font-size:37.333333pt;}
.fs4{font-size:42.666667pt;}
.fs3{font-size:48.000000pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:85.333333pt;}
.y5{bottom:17.998665pt;}
.ya{bottom:18.879999pt;}
.y10{bottom:32.599996pt;}
.yf{bottom:47.199997pt;}
.y8{bottom:48.748001pt;}
.yd{bottom:62.628001pt;}
.yc{bottom:63.145335pt;}
.y19{bottom:66.672000pt;}
.y0{bottom:81.333333pt;}
.y1a{bottom:151.365392pt;}
.y18{bottom:210.434713pt;}
.y16{bottom:302.434713pt;}
.y17{bottom:302.434718pt;}
.y15{bottom:334.065384pt;}
.y14{bottom:363.933383pt;}
.y13{bottom:448.881357pt;}
.y12{bottom:487.936040pt;}
.y11{bottom:527.405348pt;}
.ye{bottom:700.876043pt;}
.yb{bottom:759.945363pt;}
.y7{bottom:851.945363pt;}
.y9{bottom:851.945368pt;}
.y6{bottom:883.576035pt;}
.y4{bottom:913.444033pt;}
.y3{bottom:963.901366pt;}
.y2{bottom:1002.956034pt;}
.y1{bottom:1042.425368pt;}
.hc{height:25.940104pt;}
.h5{height:29.201332pt;}
.hb{height:29.645833pt;}
.h8{height:30.963999pt;}
.h6{height:32.859375pt;}
.h9{height:33.351562pt;}
.h2{height:43.812500pt;}
.h4{height:51.114583pt;}
.hd{height:58.402664pt;}
.h3{height:58.416667pt;}
.h7{height:90.700002pt;}
.ha{height:91.333333pt;}
.h1{height:1033.333333pt;}
.h0{height:1122.533366pt;}
.wf{width:79.666667pt;}
.w12{width:84.066666pt;}
.w4{width:88.599996pt;}
.w7{width:91.066671pt;}
.w6{width:92.599996pt;}
.w11{width:92.666667pt;}
.w13{width:93.599996pt;}
.w5{width:103.066671pt;}
.w10{width:104.000000pt;}
.w8{width:135.266663pt;}
.w14{width:139.333333pt;}
.w9{width:152.200002pt;}
.w15{width:158.066671pt;}
.w17{width:164.400004pt;}
.we{width:177.400004pt;}
.wb{width:177.866659pt;}
.w3{width:181.866659pt;}
.wa{width:196.333333pt;}
.w16{width:197.333333pt;}
.wc{width:227.000000pt;}
.w18{width:233.599996pt;}
.wd{width:257.733337pt;}
.w2{width:271.133341pt;}
.w1{width:785.333333pt;}
.w0{width:793.733317pt;}
.x0{left:6.000000pt;}
.x24{left:10.570667pt;}
.x14{left:11.970667pt;}
.xa{left:13.577333pt;}
.x13{left:15.114667pt;}
.x10{left:17.642667pt;}
.x9{left:19.933334pt;}
.xe{left:23.200000pt;}
.x8{left:26.636000pt;}
.x1f{left:29.367999pt;}
.xc{left:31.634667pt;}
.x15{left:40.254667pt;}
.x12{left:44.433332pt;}
.x23{left:47.366667pt;}
.x16{left:49.990665pt;}
.x26{left:53.046665pt;}
.x25{left:57.537331pt;}
.x18{left:64.270669pt;}
.x19{left:66.689334pt;}
.x1d{left:69.029336pt;}
.x6{left:71.262668pt;}
.x17{left:78.505334pt;}
.x1{left:98.878667pt;}
.x1c{left:105.870665pt;}
.x5{left:112.570667pt;}
.x4{left:123.666672pt;}
.xb{left:216.933334pt;}
.x1e{left:302.666672pt;}
.x7{left:306.199997pt;}
.x2{left:309.486674pt;}
.x1b{left:318.982666pt;}
.x3{left:323.649333pt;}
.x20{left:382.999985pt;}
.xd{left:395.466660pt;}
.x21{left:477.266668pt;}
.xf{left:487.200017pt;}
.x1a{left:567.199992pt;}
.x22{left:617.266668pt;}
.x11{left:623.133326pt;}
}
